<div class="LoginPage__wrapper full-screen flex flex-center">
    <div class="LoginPage__form flex flex-center flex-column padding__container-l">
        <div class="full-size flex flex-center flex-column flex-justify-between">
            <h1 class="margin__bottom-l">Address Book</h1>
            <h3>Регистрация</h3>
            <input type="text" class="input margin__bottom-m full-width"
                   v-model.trim="registrationForm.login"
                   placeholder="Логин" name="login">
            <input type="password" class="input margin__bottom-m full-width"
                   v-model.trim="registrationForm.password"
                   placeholder="Пароль" name="password" id="password">
            <button  :disabled="!(registrationForm.login && registrationForm.password)"
                     @click.prevent="_registration() "
                     class="button cursor-pointer margin__bottom-xs full-width">
                Зарегистрироваться
            </button>
        </div>
    </div>
</div>